
<!DOCTYPE html>
<html>
<head>
<style>
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #BD097A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
</style>
</head>
<body>

<div class="container">
  <img src="https://timedotcom.files.wordpress.com/2014/09/453778638.jpg" alt="Avatar" class="image"style="width:500px;height:600px;">
  <div class="overlay">
    <div class="text">Your female role model from the present should be Malala Yousafzai! Malala Yousafzai is a Pakistani activist for female education, and is the youngest Nobel Prize Laureate. Yousafzai was born on July 12, 1997. She grew up in  Swat Valley in Khyber Pakhtunkhwa, northwest Pakistan, where the local Taliban had at times banned girls from attending school. Yousafzai authored an anonymous blog for BBC Urdu, about living during the Taliban occupation, when she was 12. On October 9, 2012 (when Malala was 15), she was shot on a bus, by the Taliban as punishment for speaking out, and for her activism. Malala was in critical condition, but thankfully recovered. After her experience, she founded a nonprofit organization, The Malala Fund, dedicated to increasing access to education. She also wrote an autobiography, I am Malala, detailing her experiences. Yousafzai is currently studying philosophy, politics, and economics at Lady Margaret Hall, in Oxford. Yousafzai remains an active advocate for women's rights, and education.
    </div>
  </div>
  
  <h1></h1> 
  
 <div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Rosaparks.jpg/220px-Rosaparks.jpg" alt="Avatar" class="image"style="width:500px;height:600px;">
  <div class="overlay">
    <div class="text">Rosa Louise McCauley Parks, born February 4, 1913, was a civil rights activist, and is best known for her role in the Montgomery Bus Boycott. During the boycott, she served as a receptionist for the NAACP. The US Congress has hailed Parks as “the first lady of civil rights”, and “the mother of the freedom movement”. Parks is best known for refusing to give up her seat for a white person, something expected of her as a patron of the Montgomery Bus System. This act of dissent helped to launch the civil rights movement. Parks was awarded the Presidential Medal of Freedom, the Congressional Gold Medal , among many other honors. Her legacy continues today, despite her passing on October 24, 2005. Parks brave act of dissent shaped America’s future.
    </div>
  </div> 


</body>
</html>




