
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 650px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="https://i2.wp.com/www.brainpickings.org/wp-content/uploads/2014/09/maryoliver.jpg?fit=600%2C315&ssl=1 " alt="5Terre" width="600" height="400">
  </a>
  <font color="pink"> <div class="desc">Your female role model from the present should be Mary Oliver! Mary Oliver is an American poet, National Book Award and Pulitzer Prize winning author. Described by the New York Times as “far and away, this country’s best selling poet”. Her collections of poetry are inspired by her childhood in rural ohio, and the natural setting of her adopted home, New England. Oliver is also an advoacte for LGBTQ rights. Oliver has received honorary doctorates from The Art Institute of Boston, Dartmouth College, Tufts University, and Marquette University. She is widely acknowledged as an American literary icon.   </div></font>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://www.biography.com/.image/c_fit%2Ccs_srgb%2Cfl_progressive%2Ch_406%2Cq_auto:good%2Cw_620/MTE1ODA0OTcxNjgxODA5OTMz/frida-kahlo-painting.jpg" alt="Forest" width="600" height="400">
  </a>
  <font color="pink"> </font><div class="desc">Your historical female role model should be Frida Kahlo! Frida Kahlo de Rivera was an early feminist, and revolutionary Mexican artist, who frequently drew self portraits. Born in 1907, Frida later contracted polio as teen. As a promising student headed for medical school, Kahlo was in an accident, and became paralyzed waist down. Foregoing her medical career, Kahlo turned to her art hobby and began painting, and drawing. Interested in politics, and a member of the Mexican Communist Party, Kahlo met muralist Diego Rivera. The two married in 1928, and remained married till death, despite both having multiple extramarital affairs. Kahlo was a fierce political advocate, an early speaker on issues facing the LGBTQ community, and her paintings are now said to have political meaning within them. Art historians have praised her unique and “unapologetic” artistic style. Kahlo passed away in 1954, however her legacy continues to inspire artists, feminists, political advocates, and more.  </div></font>
</div>



</body>
</html>












