
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 650px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2013/12/oprah_winfrey_horizontal_a_l.jpg" alt="5Terre" width="600" height="400">
  </a>
 <font color="pink"> <div class="desc">Your female rolemodel from the present should be Oprah Winfrey! Oprah Gail Winfrey, born January 29, 1954, is the American media proprietor, talk show host, producer, and philanthropist best known for her talk show, The Oprah Winfrey Show. Winfrey was the first woman to own and produce her own talk show. Winfrey was awarded the Presidential Medal of Freedom, and honorary doctorate degrees from Duke, and Harvard. In addition, Winfrey is a political advocate for the democratic party. Winfrey is rhe Chairwoman and CEO of Harpo Productions, and is the Chairwoman, CEO, and CCO of the Oprah Winfrey Network. Winfrey attended Tennessee State University, and overcame many challenges throughout her life. Winfrey is said to be one of the greatest philanthropists of the 21st century. She founded The Angel Network, The Oprah Winfrey Foundation, and the Oprah Winfrey Operating Foundation. </div></font>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://freepress.org/sites/default/files/styles/620px_wide/public/main/articles/2416b7c38ccae89004ef2854ab025ed3.jpg?itok=V8ZFyY1J" alt="Forest" width="600" height="400">
  </a>
 <font color="pink"> <div class="desc">Your historical female role model should be Katherine Graham! Katharine Meyer Graham, born June 16, 1917, was an American publisher, and the first female publisher of a major American Newspaper, The Washington Post. Graham oversaw The Washington Post during the Watergate scandal. The Washington Post’s unapologetic style of investigative journalism contributed to Nixon's resignation. Later, her personal memoir, Personal History, won a Pulitzer Prize in 1998. Graham attended Vassar College, later transferring to the University of Chicago. Graham was awarded The Presidential Medal of Freedom (during the Bush administration),  and was named one of the International Press Institute's 50 World Press Freedom Heroes of the past 50 years. Graham passed away on July 17, 2014, following a fall.</div></font>
</div>



</body>
</html>

