<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <title>Infulential Women</title>
        <script src="code.js" type="text/javascript" charset="utf-8"></script>        
        <link href="style.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

<style>

h1 {
    color:#BD097A;
    text-align:center;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 30%;
  padding: 5px;
}

Clear floats after image containers
.row::after {
  content: "";
  clear: both;
  display: table;
}
  
  .row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

.container {
  position: relative;
  width: 50%;
  
 
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #BD097A;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
</style>
    </head>
    <body>
      <nav class="w3-bar w3-black">
 <h1><font color= "purple"> <a href="home" class="w3-button w3-bar-item">Home</a> </h1></font>
 <h1><font color= "purple"> <a href="quiz" class="w3-button w3-bar-item">Quiz</a></h1></font>
  <h1><font color= "purple"><a href="influential_women" class="w3-button w3-bar-item">Influential Women</a> </h1> </font>
</nav>
        
        <h1>Learn about more influential women from the past and present</h1>
       
 
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
#myDIV {
    width: 100%;
    padding: 50px 0;
    text-align: center;
    background-color: #BD097A;
    margin-top: 20px;
}
</style>
</head>
<body>

</body>
</html>

<div class="row"> 
 <div class="column">
 </div>
 <div class="row">
 </div> 

      <div class="container">
  <img src="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492113198/articles/2016/05/11/p-j-o-rourke-i-m-endorsing-hillary-clinton-the-devil-we-know/160510-orourke-clinton-endorsement-tease_vh8moc" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text"> Hillary Rodham Clinton is an American politician, former first lady, senator, secretary of state, and feminist icon. Clinton ran in the 2016 Presidential election, as the democratic nominee, and won the popular vote. Clinton was born in Chicago, on October 26, 1947. Clinton attended Wellesley College, and Yale University, where she obtained her law degree. Clinton is married to former President, Bill Clinton. During her husband’s administration, she closely oversaw important decisions. It was often joked that during his administration, they got “two for the price of one”, due to Hillary's political role as first lady. Clinton has dedicated her life to championing causes such as gender equality, and healthcare reform. Clinton has taken on a public role, as a noted activist, and advocate. A revolutionary woman, Clinton has been a role model for many young women interested in politics, as she is the first woman to ever be a major parties nominee, and the first woman to ever win the popular vote in an election. 
</div>
  </div>
  </div>
  
  <div class="container">
  <img src="https://cdn1.thr.com/sites/default/files/imagecache/landscape_928x523/2013/12/oprah_winfrey_horizontal_a_l.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Oprah Gail Winfrey, born January 29, 1954, is the American media proprietor, talk show host, producer, and philanthropist best known for her talk show, The Oprah Winfrey Show. Winfrey was the first woman to own and produce her own talk show. Winfrey was awarded the Presidential Medal of Freedom, and honorary doctorate degrees from Duke, and Harvard. In addition, Winfrey is a political advocate for the democratic party. Winfrey is rhe Chairwoman and CEO of Harpo Productions, and is the Chairwoman, CEO, and CCO of the Oprah Winfrey Network. Winfrey attended Tennessee State University, and overcame many challenges throughout her life. Winfrey is said to be one of the greatest philanthropists of the 21st century. She founded The Angel Network, The Oprah Winfrey Foundation, and the Oprah Winfrey Operating Foundation. </div>
  </div>
</div>

<div class="container">
  <img src="https://www.biography.com/.image/c_fit%2Ccs_srgb%2Cfl_progressive%2Ch_406%2Cq_auto:good%2Cw_620/MTE1ODA0OTcxNjgxODA5OTMz/frida-kahlo-painting.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Frida Kahlo de Rivera was an early feminist, and revolutionary Mexican artist, who frequently drew self portraits. Born in 1907, Frida later contracted polio as teen. As a promising student headed for medical school, Kahlo was in an accident, and became paralyzed waist down. Foregoing her medical career, Kahlo turned to her art hobby and began painting, and drawing. Interested in politics, and a member of the Mexican Communist Party, Kahlo met muralist Diego Rivera. The two married in 1928, and remained married till death, despite both having multiple extramarital affairs. Kahlo was a fierce political advocate, an early speaker on issues facing the LGBTQ community, and her paintings are now said to have political meaning within them. Art historians have praised her unique and “unapologetic” artistic style. Kahlo passed away in 1954, however her legacy continues to inspire artists, feminists, political advocates, and more.  </div>
  </div>
</div>

<div class="container">
  <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxMjQwMzU5NDM3/tech-giants-11-raw.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Born November 7, 1867, Polish-French physicist, chemist, and Nobel Prize winner, Marie Curie, began her legacy. Born in Poland, Curie became a naturalized-French citizen. Curie conducted some of the first research on radioactivity. Curie was the first, and only women to win 2 separate Nobel Prizes, to win the award in two different sciences. Curie was the first woman to become a professor, at The University of Paris. During World War I, she developed mobile radiography units to provide X-ray services to field hospitals. Curie passed away in 1934, aged 66, due to radiation exposure. She paved the way for many female scientists, and her groundbreaking research, and theories are still used today.  </div>
  </div>
</div>

<div class="container">
  <img src="http://historythings.com/wp-content/uploads/2017/01/clarabarton.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Clarissa Harlowe Barton, born December 25, 1821, was a battlefield nurse, teacher, and the founder of the American Red Cross. Barton began to serve her country, unprompted, by taking care of our nation’s soldiers, saving countless lives and encouraging others to do the same. In addition to her medical triumphs, Barton ran the Office of the Missing Soldiers, where she identified, and contacted the loved ones with missing relatives, who had been killed in action. Barton brought closure to hundreds of families. Barton also founded the First American Red Cross, an organization of donors, volunteers and employees specializing in life saving skills. After being forced into resignation, because of her controversial leadership style, Barton went on to found the National First Aid Society. Barton’s legacy lives on as her life-saving skills and ideas contribute to countless lives today. 
 </div>
  </div>
</div>

<div class="container">
  <img src="https://cdn.nybooks.com/wp-content/uploads/2016/11/dunn_1-120816.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Anna Eleanor Roosevelt was an American diplomat, activist, and political figure. Roosevelt was also the longest serving First Lady of the United States, as her husband served four terms. Born in Manhattan, on October 11, 1884, Roosevelt began a life destined for greatness. Eleanor married former President Franklin D. Roosevelt in 1905, however that didn’t stop her from having her own political life. After her husband was diagnosed with a paralytic disease, polio, and lost the use of his legs, Eleanor began to handle many of his public appearances, frequently giving speeches, and shaping his campaign, platform, and legacy. Roosevelt was the first presidential spouse to hold regular press conferences, write a monthly magazine column, and to publicly disagree with her spouses policies. She was an advocate for minorities, refugees, and workers rights. Following her husband’s death, Roosevelt remained a political figure, as she was the first North American UN delegate, first chair of the UN’s Council on Human Rights, drafted the UN’s Declaration of Human Rights, and chaired the John F. Kennedy administration’s Presidential Commission on the Status of Women. 
</div>
  </div>
</div>

<div class="container">
  <img src="https://freepress.org/sites/default/files/styles/620px_wide/public/main/articles/2416b7c38ccae89004ef2854ab025ed3.jpg?itok=V8ZFyY1J" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Katharine Meyer Graham, born June 16, 1917, was an American publisher, and the first female publisher of a major American Newspaper, The Washington Post. Graham oversaw The Washington Post during the Watergate scandal. The Washington Post’s unapologetic style of investigative journalism contributed to Nixon's resignation. Later, her personal memoir, Personal History, won a Pulitzer Prize in 1998. Graham attended Vassar College, later transferring to the University of Chicago. Graham was awarded The Presidential Medal of Freedom (during the Bush administration),  and was named one of the International Press Institute's 50 World Press Freedom Heroes of the past 50 years. Graham passed away on July 17, 2014, following a fall. </div>
  </div>
</div>


<div class="container">
  <img src="https://m.media-amazon.com/images/M/MV5BY2E4MWY1MjMtNzIyNi00NzJjLWFhZDAtMzJiYWI1OTY0YTdiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Jacqueline Joyner-Kersee, is a retired track and field Olympic star, and is ranked as on the greatest Olympic athletes of all time. Born March 3, 1962, in East Saint. Louis, Kersee attended East St. Louis Lincoln High School. She reached the finals in the 1979 Olympic trials, and competed in four Olympics Games. Joyner-Kersee attended the University of California at Los Angeles, playing women's basketball, and competing in track and field. In addition to her athletic accomplishments, she is an active philanthropist in children’s education, racial equality, and women's rights. She is a founder of the Jackie Joyner-Kersee Foundation, which encourages young people in East St. Louis to pursue athletics and academics. She partnered with Comcast to create the Internet Essentials program in 2011, which costs $9.95/month for low-income Americans and offers low-cost laptops and 40 hours/month of high-speed internet service. Joyner-kersee holds the world record in the heptathlon, and was hailed as Sports Illustrated’s greatest female athlete of the 20th century. 
 </div>
  </div>
</div>

<div class="container">
  <img src="https://i.eurosport.com/2016/07/09/1891770-39831240-2560-1440.jpg?w=1050" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Serena Jameka Williams, born September 26, 1981, is a world-class tennis player, and is the number 1 ranked female tennis player, in the world. In addition to her multitude of successes on the court, she is a well-known activist, and philanthropist. Williams founded the Serena Williams Foundation. Her foundation financed the construction of a secondary school in Matooni, Kenya, and provides scholarships for underprivileged college-bound students. Williams is an international Goodwill Ambassador with UNICEF, and assisted in the launching of UNICEF’s School For Asia campaign. Williams is married to Reddit co-founder Alexis Ohanian, and is the mother of her daughter, Alexis Olympia Ohanian, who was born September 1, 2017.
</div>
  </div>
</div>

<div class="container">
  <img src="https://cdn.vox-cdn.com/thumbor/no8qbiC_bY1bavdLpTdzfokxs5o=/0x0:4165x3280/1200x675/filters:focal(1750x620:2416x1286)/cdn.vox-cdn.com/uploads/chorus_image/image/55637287/GettyImages_615868688.0.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Priscilla Chan is an American pediatrician, and philanthropist. Chan is married to founder, and CEO of Facebook, Mark Zuckerberg. Chan’s parents were Hoa Chinese refugees who fled Vietnam. She grew up speaking Cantonese, and interpreted for her grandparents. Chan later attended Harvard University, and received her doctorate from the University of California at Los Angeles. Chan is a cofounder of the Chan Zuckerberg initiative, a philanthropic political action company dedicated to promoting health and education. The Initiative sponsors scientific breakthroughs, and biomedical research to sponsor change and reform for problems plaguing our world. Chan is also the CEO of The Primary School (TPS), a school integrating health, and education. TPS seeks improve the health and educational outcomes of underserved students in the E. Palo Alto, and Belle Haven areas. TPS opened in 2016, and has been changing lives ever since. Chan is an advocate for children that strives to improve the status of all.  </div>
  </div>
</div>


<div class="container">
  <img src="https://i2.wp.com/www.brainpickings.org/wp-content/uploads/2014/09/maryoliver.jpg?fit=600%2C315&ssl=1" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Mary Oliver is an American poet, National Book Award and Pulitzer Prize winning author. Described by the New York Times as “far and away, this country’s best selling poet”. Her collections of poetry are inspired by her childhood in rural ohio, and the natural setting of her adopted home, New England. Oliver is also an advoacte for LGBTQ rights. Oliver has received honorary doctorates from The Art Institute of Boston, Dartmouth College, Tufts University, and Marquette University. She is widely acknowledged as an American literary icon. 

 </div>
  </div>
</div>

<div class="container">
  <img src="http://www.trbimg.com/img-5a26938b/turbine/ct-christiane-amanpour-charlie-rose-pbs-20171205" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">British-Iranian journalist, and television host Christiane Amanpour was born on January 12, 1958 is the Chief International Correspondent for CNN and host of CNN International's nightly interview program Amanpour. Amanpour is also a Global Affairs Anchor of ABC News. In May 2018, it was announced that Amanpour would permanently replace Charlie Rose on PBS after he left due to allegations of sexual misconduct. Amanpour has unapologetically reported on international affairs, and has raised the standards of journalism. Amanpour has been named as the Persian Woman of the Year (2007), a Fellow of the Society of Professional Journalists, and was named as one Forbes 100 Most Powerful Women. 

</div>
  </div>
</div>

<div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Malala_Yousafzai_2015.jpg/220px-Malala_Yousafzai_2015.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Malala Yousafzai is a Pakistani activist for female education, and is the youngest Nobel Prize Laureate. Yousafzai was born on July 12, 1997. She grew up in  Swat Valley in Khyber Pakhtunkhwa, northwest Pakistan, where the local Taliban had at times banned girls from attending school. Yousafzai authored an anonymous blog for BBC Urdu, about living during the Taliban occupation, when she was 12. On October 9, 2012 (when Malala was 15), she was shot on a bus, by the Taliban as punishment for speaking out, and for her activism. Malala was in critical condition, but thankfully recovered. After her experience, she founded a nonprofit organization, The Malala Fund, dedicated to increasing access to education. She also wrote an autobiography, I am Malala, detailing her experiences. Yousafzai is currently studying philosophy, politics, and economics at Lady Margaret Hall, in Oxford. Yousafzai remains an active advocate for women's rights, and education. 
</div>
  </div>
</div>

<div class="container">
  <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c4/Rosaparks.jpg/220px-Rosaparks.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Rosa Louise McCauley Parks, born February 4, 1913, was a civil rights activist, and is best known for her role in the Montgomery Bus Boycott. During the boycott, she served as a receptionist for the NAACP. The US Congress has hailed Parks as “the first lady of civil rights”, and “the mother of the freedom movement”. Parks is best known for refusing to give up her seat for a white person, something expected of her as a patron of the Montgomery Bus System. This act of dissent helped to launch the civil rights movement. Parks was awarded the Presidential Medal of Freedom, the Congressional Gold Medal , among many other honors. Her legacy continues today, despite her passing on October 24, 2005. Parks brave act of dissent shaped America’s future. 
 </div>
  </div>
</div>

    

<div class="container">
  <img src="https://cdn.ima.org.uk/wp/wp-content/uploads/2017/08/Priya-Subramanian.jpg"class="image">
  <div class="overlay">
    <div class="text">Nobel Prize winner, Dr. Priya Subramanian is an award-winning scientist, and 2017 L’Oreal Women in Science Fellow. Subramanian discovered Quasicrystals, an interesting molecular form. Since her discovery, she has been a fierce advocate for women in STEM. She completed her Bachelor degree in Aeronautical engineering, and later completed her doctorate in aerospace engineering. 
</div>
  </div>
</div>

<div class="container">
  <img src="https://www.libraries.wright.edu/community/outofthebox/files/2014/07/Gloria-Steinem-Jan.-1972.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Gloria Marie Steinem, American feminist, journalist, and social political activist. Steinem is credited as the spokeswoman, and leader of the American feminist movement in the late 1960s, and early 1970s. Steinem was born in Toledo, Ohio on March 25, 1934. Steinem graduated from Smith College. Steinem later co-founded the Women’s Media center, an organization that works to make women visible in the media. Steinem currently travels as international feminist organizer, and lecturer. Steinem’s multitude of causes include sex and race caste systems, gender roles, the cultures of indigenous peoples, and organizations for peace and justice. 
 </div>
  </div>
</div>
<div class="container">
  <img src="https://fashioneditorials.com/wp-content/uploads/2018/04/Porter-Magazine-Summer-2018-Karlie-Kloss-Camilla-Akrans-1.jpg"alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Karlie Kloss was born in Chicago, IL on August 3, 1992 and is an entrepreneur, STEM advocate, model, and more. Kloss is a Saint Louis native, having attended Webster Groves High School, and later finishing her education at New York University and the Gallatin School of Individualized Study, where she studies computer science, and programming. In addition to modeling, Kloss has launched a scholarship program, Kode with Klossy, for young girls interested coding and computer sciences. Kloss has also created a special recipe for “Karlie’s Kookies” sold in special locations, these cookies benefit hungry children in the world. Every tin bought, donates 10 meals to children around the world. Kloss has made a name for herself, not only as a model, but as a philanthropist and STEMinist. 
    </div>
  </div>
</div>

<div class="container">
  <img src="https://the-hollywood-gossip-res.cloudinary.com/iu/s--SbnLClPV--/t_full/cs_srgb,f_auto,fl_strip_profile.lossy,q_auto:420/v1517511278/megyn-kelly-stands-and-chills.jpg" alt="Avatar" class="image">
  <div class="overlay">
    <div class="text">Megyn Marie Kelly (born November 18, 1970) is an American journalist, political commentator, and former corporate defense attorney. Kelly was born in Champaign, IL. Kelly attended Syracuse University, and obtained her law degree at Albany Law School. Kelly is best known for her journalism, and political commentary are various news outlets. Kelly’s sense of journalistic integrity has resulted in truthful coverage of major events, and her intelligence has been inspiring to many young women. 


</div>
  </div>
</div>

  </body>
</html>










