
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 650px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="http://www.trbimg.com/img-5a26938b/turbine/ct-christiane-amanpour-charlie-rose-pbs-20171205" alt="5Terre" width="600" height="400">
  </a>
  <font color="pink"> <div class="desc">Your female role model from the present should be Christiane Amapour! British-Iranian journalist, and television host Christiane Amanpour was born on January 12, 1958 is the Chief International Correspondent for CNN and host of CNN International's nightly interview program Amanpour. Amanpour is also a Global Affairs Anchor of ABC News. In May 2018, it was announced that Amanpour would permanently replace Charlie Rose on PBS after he left due to allegations of sexual misconduct. Amanpour has unapologetically reported on international affairs, and has raised the standards of journalism. Amanpour has been named as the Persian Woman of the Year (2007), a Fellow of the Society of Professional Journalists, and was named as one Forbes 100 Most Powerful Women.     </div></font>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://www.libraries.wright.edu/community/outofthebox/files/2014/07/Gloria-Steinem-Jan.-1972.jpg" alt="Forest" width="600" height="400">
  </a>
 <font color= "pink"> <div class="desc">Your historical female role model should be Gloria Steinem! Gloria Marie Steinem, American feminist, journalist, and social political activist. Steinem is credited as the spokeswoman, and leader of the American feminist movement in the late 1960s, and early 1970s. Steinem was born in Toledo, Ohio on March 25, 1934. Steinem graduated from Smith College. Steinem later co-founded the Women’s Media center, an organization that works to make women visible in the media. Steinem currently travels as international feminist organizer, and lecturer. Steinem’s multitude of causes include sex and race caste systems, gender roles, the cultures of indigenous peoples, and organizations for peace and justice.  </div></font>
</div>



</body>
</html>










