
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 650px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="https://img.thedailybeast.com/image/upload/c_crop,d_placeholder_euli9k,h_1439,w_2560,x_0,y_0/dpr_2.0/c_limit,w_740/fl_lossy,q_auto/v1492113198/articles/2016/05/11/p-j-o-rourke-i-m-endorsing-hillary-clinton-the-devil-we-know/160510-orourke-clinton-endorsement-tease_vh8moc" alt="5Terre" width="600" height="400">
  </a>
  <font color="pink"><div class="desc">Your female role model from the present should be Hillary Clinton! Hillary Rodham Clinton is an American politician, former first lady, senator, secretary of state, and feminist icon. Clinton ran in the 2016 Presidential election, as the democratic nominee, and won the popular vote. Clinton was born in Chicago, on October 26, 1947. Clinton attended Wellesley College, and Yale University, where she obtained her law degree. Clinton is married to former President, Bill Clinton. During her husband’s administration, she closely oversaw important decisions. It was often joked that during his administration, they got “two for the price of one”, due to Hillary's political role as first lady. Clinton has dedicated her life to championing causes such as gender equality, and healthcare reform. Clinton has taken on a public role, as a noted activist, and advocate. A revolutionary woman, Clinton has been a role model for many young women interested in politics, as she is the first woman to ever be a major parties nominee, and the first woman to ever win the popular vote in an election. </div></div></font>


<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://cdn.nybooks.com/wp-content/uploads/2016/11/dunn_1-120816.jpg" alt="Forest" width="600" height="400">
  </a>
  <font color= "pink"> <div class="desc">Your historical female role model should be Eleanor Roosevelt! Anna Eleanor Roosevelt was an American diplomat, activist, and political figure. Roosevelt was also the longest serving First Lady of the United States, as her husband served four terms. Born in Manhattan, on October 11, 1884, Roosevelt began a life destined for greatness. Eleanor married former President Franklin D. Roosevelt in 1905, however that didn’t stop her from having her own political life. After her husband was diagnosed with a paralytic disease, polio, and lost the use of his legs, Eleanor began to handle many of his public appearances, frequently giving speeches, and shaping his campaign, platform, and legacy. Roosevelt was the first presidential spouse to hold regular press conferences, write a monthly magazine column, and to publicly disagree with her spouses policies. She was an advocate for minorities, refugees, and workers rights. Following her husband’s death, Roosevelt remained a political figure, as she was the first North American UN delegate, first chair of the UN’s Council on Human Rights, drafted the UN’s Declaration of Human Rights, and chaired the John F. Kennedy administration’s Presidential Commission on the Status of Women.</div>
</div></font>



</body>
</html>



 
