
<!DOCTYPE html>
<html>
<head>
<style>

</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="https://i.eurosport.com/2016/07/09/1891770-39831240-2560-1440.jpg?w=1050" alt="5Terre" width="600" height="400">
  </a>
  <font color="pink"> <div class="desc">Your female role model from the present should be Serena Williams! Serena Jameka Williams, born September 26, 1981, is a world-class tennis player, and is the number 1 ranked female tennis player, in the world. In addition to her multitude of successes on the court, she is a well-known activist, and philanthropist. Williams founded the Serena Williams Foundation. Her foundation financed the construction of a secondary school in Matooni, Kenya, and provides scholarships for underprivileged college-bound students. Williams is an international Goodwill Ambassador with UNICEF, and assisted in the launching of UNICEF’s School For Asia campaign. Williams is married to Reddit co-founder Alexis Ohanian, and is the mother of her daughter, Alexis Olympia Ohanian, who was born September 1, 2017.  </div></font>
</div>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://m.media-amazon.com/images/M/MV5BY2E4MWY1MjMtNzIyNi00NzJjLWFhZDAtMzJiYWI1OTY0YTdiXkEyXkFqcGdeQXVyNDUzOTQ5MjY@._V1_.jpg" alt="Forest" width="600" height="400">
  </a>
  <font color= "pink"><div class="desc">Your historical female role model should be Jackie Joyner-Kerse! Jacqueline Joyner-Kersee, is a retired track and field Olympic star, and is ranked as on the greatest Olympic athletes of all time. Born March 3, 1962, in East Saint. Louis, Kersee attended East St. Louis Lincoln High School. She reached the finals in the 1979 Olympic trials, and competed in four Olympics Games. Joyner-Kersee attended the University of California at Los Angeles, playing women's basketball, and competing in track and field. In addition to her athletic accomplishments, she is an active philanthropist in children’s education, racial equality, and women's rights. She is a founder of the Jackie Joyner-Kersee Foundation, which encourages young people in East St. Louis to pursue athletics and academics. She partnered with Comcast to create the Internet Essentials program in 2011, which costs $9.95/month for low-income Americans and offers low-cost laptops and 40 hours/month of high-speed internet service. Joyner-kersee holds the world record in the heptathlon, and was hailed as Sports Illustrated’s greatest female athlete of the 20th century. </div></font>
</div>



</body>
</html>











