
<!DOCTYPE html>
<html>
<head>
<style>
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 650px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}
</style>
</head>
<body>

<div class="gallery">
  <a target="_blank" >
    <img src="https://cdn.ima.org.uk/wp/wp-content/uploads/2017/08/Priya-Subramanian.jpg" alt="5Terre" width="600" height="400">
  </a>
  <div class="desc"><font color="pink">Your female role model from the present should be Doctor Priya Subramanian! Nobel Prize winner, Dr. Priya Subramanian is an award-winning scientist, and 2017 L’Oreal Women in Science Fellow. Subramanian discovered Quasicrystals, an interesting molecular form. Since her discovery, she has been a fierce advocate for women in STEM. She completed her Bachelor degree in Aeronautical engineering, and later completed her doctorate in aerospace engineering  </div>
</div></font>

<div class="gallery">
  <a target="_blank" href="img_forest.jpg">
    <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxMjQwMzU5NDM3/tech-giants-11-raw.jpg" alt="Forest" width="600" height="400">
  </a>
  <div class="desc"><font color="pink">Your historical female role model should be Marie Curie! Born November 7, 1867, Polish-French physicist, chemist, and Nobel Prize winner, Marie Curie, began her legacy. Born in Poland, Curie became a naturalized-French citizen. Curie conducted some of the first research on radioactivity. Curie was the first, and only women to win 2 separate Nobel Prizes, to win the award in two different sciences. Curie was the first woman to become a professor, at The University of Paris. During World War I, she developed mobile radiography units to provide X-ray services to field hospitals. Curie passed away in 1934, aged 66, due to radiation exposure. She paved the way for many female scientists, and her groundbreaking research, and theories are still used today. </div></font>
</div>



</body>
</html>













